{% extends 'Blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    
    <legend class="border-bottom mb-3">Reset Password</legend>
    <form method='POST'>         
    {% csrf_token %}
    {{form | crispy}}
    <div class="form-group  mt-3">
    <button type="submit" class="btn btn-outline-success mt-2" >Verify and Reset</button>
    </div>
    <div class="form-group border-top mt-3">
        <small class="text-muted"> <a href="{% url 'user-login' %}">Back</a></small>
    </div>
</form>
</div>

{% endblock %}